body {
  background-color:#F7F6F2;
  font-family:arial;
  margin:0;
  text-align:center;
} 
p {
  line-height:1.5;
} 
.center {
  margin-left:auto;
  margin-right:auto;
} 
 .bdy {
 text-align:center;
} 
/***********Home***********/
.header {
  padding:20px 0 20px 0;
  margin:10px 0 10px 0;
  text-align:center;
} 
.email {
  font-weight:normal;
} 
.main {
  background-color:#ddd;
  max-width:80%;
  padding:10px;
  margin:30px auto 30px auto;
  min-height:300px;
  box-shadow:1px 1px 6px;
  box-sizing:content-box;

} 
.man {
 background-color:#ddd;
 max-width:80%;
 padding:10px;
 margin:30px auto 30px auto;
 min-height:300px;
  
} 
.buttons {
  text-align:center;
  display:inline-block;
  justify-content:center;
  padding:50px;
  margin:20px;
} 
 a:hover {
  Color:black;
} 
/************Experience**********/
.experience { 
  background-color:#ddd;
  max-width:80%;
  min-Height:300px;
  padding:5px;
  Margin:30px 10px 30px 10px;
  box-shadow:1px 1px 6px;
} 
.exper {
background-color:#ddd;
 max-width:80%;
 min-Height:300px;
Margin:30px 10px 30px 10px;
box-shadow:1px 1px 6px;
} 

/***********Conatact*********/
} 
.Form {
  background-color:#ddd;
  padding:20px;
  margin:5px;
  border-radius:25px;
  box-shadow:1px 1px 6px;
  text-align:center;
  box-size:content-box;
} 
.Form input {
height:100%;
  width:50%;
  font-size:18px;
  outline:none;
  border:none;
  color:white;
  background:#eee;
  border-radius:25px;
  box-shadow:inset 2px 2px 5px #ddd, inset -1px -1px 2px  #eee 
} 
.Form button {
text-align:center;
Padding:10px;
width:50%;
border-radius:25px;
} 
