body {
  background-color:#F7F6F2;
  font-family:Arial;
  margin:0;
  padding:0;
  text-align:center;
} 
p {
  line-height:1.5;
} 
.center {
  margin-left:auto;
  margin-right:auto;
} 
 .bdy {
 text-align:center;
} 
/***********Home***********/
.header {
  padding:20px 0 20px 0;
  margin:10px 0 10px 0;
  text-align:center;
} 
.email {
  font-weight:normal;
} 
 .main{
  background-color:#ddd;
  max-width:80%;
  padding:10px;
  margin:30px auto 30px auto;
  min-height:300px;
  box-shadow:1px 1px 6px;

} 
.man {
 background-color:#ddd;
 max-width:80%;
 padding:10px;
 margin:30px auto 30px auto;
 min-height:300px;
 box-shadow:1px 1px 6px; 
} 
.buttons {
  padding:70px;
  margin:20px auto 20 auto;
} 
 a:hover {
  Color:black;
} 
/************Experience**********/
.experience { 
  background-color:#ddd;
  max-width:80%;
  min-Height:300px;
  padding:5px;
  Margin:30px auto 30px auto;
  box-shadow:1px 1px 6px;
} 
.exper {
background-color:#ddd;
 max-width:80%;
 min-Height:300px;
Margin:30px auto 30px auto;
padding:5px 0 30px 0;
box-shadow:1px 1px 6px;
} 

/***********Conatact*********/
 .navbar {
   margin:0;
   text-decoration:none;
   color:black;
   
 } 
.login {
  max-width:70%;
  background-color:#ddd;
  padding:80px;
  margin:30px auto 500px auto;
  border-radius:20px;
  box-shadow:2px 2px 8px #ddd;
} 
h1 h3 {
  text-align:center;
  padding:25px;
} 
 label {
   font-size:15px;
 } 
 #uname {
   width:300px;
   height:40px;
   border:none;
   border-radius:15px;
   padding-left:12px;
   box-shadow:inset 2px 2px 5px #ddd, inset -1px -1px 2px  #eee  
 } 
#umail {
  width:300px;
   height:40px;
   border:none;
   border-radius:15px;
   padding-left:12px;
   box-shadow:inset 2px 2px 5px #ddd, inset -1px -1px 2px  #eee   
} 
a {
  margin:30px auto 0 auto;
  background-color:#eee;
  color:black;
  font-weight:bold;
  outline:none;
  text-decoration:none;
} 
#areatext {
  border-radius:5px;
  padding:5px;
  color:black;
  box-shadow:inset 2px 2px 5px #ddd, inset -1px -1px 2px  #eee    
} 
#pass {
padding-left:30px;
width:300px;
height:50px;
border-radius:30px;
border:none;
} 
